[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

::-webkit-selection {
    background-color: #FFFFCC;
    color: #555555;
}
::-moz-selection {
    background-color: #FFFFCC;
    color: #555555;
}
::selection {
    background-color: #FFFFCC;
    color: #555555;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
    background-color: #F1C1C2;
    color: #222222;
}
h1::selection,
h2::selection,
h3::selection {
    background-color: #F1C1C2;
    color: #222222;
}
.ui *::-moz-selection {
    background-color: #CCE2FF;
}
.ui *::selection {
    background-color: #CCE2FF;
}

html,
body {
    font-size: 15px;
}

p.homeP {
    margin: 8px 0 8px;
}

p {
    line-height: 27px;
}

a {
    color: #D95C5C;
    text-decoration: none;
}

body#bd {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
    background: #FCFCFC url(tree_bark.png) repeat;
    margin: 0px;
    padding: 0px;
    color: #555555;
}

.container {
    max-width: 820px;
    margin: 0 auto;
    padding: 25px;
}

a.logo {
    font-weight: bold;
    font-size: 21px!important;
    text-align: left;
    color: white;
    padding: 0px 25px 5px 0;
    margin: 7px 0 0 0;
    display: inline-block;
}

.main.menu {
    z-index: 900;
    opacity: 0.85;
    height: 43px;
    padding-top: 2px;
    border-bottom: 3px solid #2b2b2b;
}

.slogan {
    font-size: 13px;
    display: inline-block;
    color: white;
    font-style: italic;
    margin: 0 0 0 -19px;
    font-weight: 600;
    opacity: 0.8;
}

.slogan strong {
    font-size: 18px;
    font-style: bold;
}

hr {
    border-top: 1px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 1px dashed white;
}

footer {
    font-size: 13px;
    text-align: center;
}

.ui.action.button {
    background-color: #E96633;
}

.ui.action.button:hover {
    color: #FFF;
    background: #d35528;
}

.ui.button {
    background-color: #9DA6AB;
    color: #FFF;
    -webkit-box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.12) inset;
    -moz-box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.12) inset;
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.12) inset;
}


#homeSign {
    font-size: 21px;
    margin: 20px 0 12px;
}

#moreInfo {
    display: none;
    max-width: 656px;
    font-size: 13px;
    margin: 0 auto;
}

#moreInfoButton {
    font-size: 18px;
}

#logout {
    float: right;
    margin-top: 7px;
}

#moreInfoButton2 {
    display: none;
    width: 100px;
    margin: 0 auto;
}

.ui.table td:first-child {
    font-weight: 500!important;
}

.ui.table tr:hover td.hvr {
    background: #545454!important;
    color: white;
}

#messagesDiv {
    overflow-y:scroll;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 290px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 3px;
    text-align: left;
}

#messagesDiv div.chatMessage {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.15);
    border-left: 1px dashed rgba(0, 0, 0, 0.15);
    border-right: 1px dashed rgba(0, 0, 0, 0.15);
    padding: 10px 9px 12px 9px;
    display: none;
}

#messagesDiv div.chatMessage:hover {
    background: #545454!important;
    color: white;
}

#messagesDiv div.chatMessage:nth-child(odd) {
    background: #f9f9f9;
}

/*
 *  STYLE 1
 */
.style1::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}

.style1::-webkit-scrollbar
{
    width: 11px;
    background-color: #F5F5F5;
}

.style1::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #6f6f6f;
}

@media screen and (max-width: 740px) {
    div#homePs {
        display: none;
    }
    p {
        line-height: 22px
    }
    #moreInfoButton2 {
        display: block;
    }
    #homeSign {
        font-size: 18px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    #mobile, .slogan {
        display: none;
    }
}